.header {
    display: flex;
    color: #fff;
    flex-direction: column;
    background: url(../assets/space.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #0b0b67;
    height: 822px;
}

.header_middle {
    max-width: 426px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.heading_box h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    margin-top: 40px;
}

@media (min-width: 768px) {  

    .heading_box h2 {
        margin-top: 80px;
    }
}

.header_logo {
    margin-bottom: 13px;
}

.header_logo img {
    transition: all 1s linear;
}

.header_logo img:hover {
    transform: rotate3d(0,1,0, 180deg) scale3d(1.3, 1.3, 1.3);
    /* animation: rotateLogo 1.6s ease-out; */
}
     
/* @keyframes rotateLogo {
 0%{transform: scale(1) rotateY(0deg)}
 50%{transform: scale(1.3) rotateY(.5turn)}
 70% {transform: scale(1.3) rotateY(.5turn)}
 100%{transform: scale(1) rotateY(0deg)}   
} */

.main_heading {
    max-width: 366px;
    margin: 0 auto;
}

.heading_box h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 64px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.header_icon, .footer_icon, .address {
    font-family: 'Source Sans Pro', sans-serif;
}

.header_icon {
    width: 35%;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.header_icon a {
    color: #fff;
    text-transform: uppercase;
}

.header_nav {
   width: 65%; 
}

.header_nav ul {
    display: none;
    /* justify-content: space-between; */
}

.nav_toggle {
    position: absolute;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    padding: 0;
    top: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 22px;
    height: 3px;
    background: #fff;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 22px;
    height: 3px;
    background: #fff;
    margin: 2px 0;
    position: absolute;
} 

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    top: -10px;
}

.header {
    padding: 0 20px;
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {  

    .header_nav ul {
        display: flex;
    }

    .nav_toggle {
        display: none;
    }   
}

.header_nav ul li {
    margin-right: 30px;
}


.header_nav li a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 2px solid transparent;
}

.header_nav li a:hover {
    border-bottom: 2px solid #FFFFFF;
}
