@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


button {
    border: none;
    background-color:#55C2D8;
    outline: none;
    cursor: pointer;
}

.section_second p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.section_second button {
    max-width: 115px;
    margin-top: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 5px 18px;
    border-radius: 20px;
    transition: transform 1s ease;
    transform-origin: left;
}

.section_second button:hover {
    transform-origin: left;
    transform: rotateZ(15deg);
}

@media (min-width: 768px) {
    .section_second p {
        margin-top: 48px;
    }

    .section_second button {
        margin-top: 51px;
    }
}


